.container {
    .search-title {
        background-color: #07beb8;
        margin: auto;
        padding: 25px;
        color: #ffff;
        font-size: 42px;
        text-align: center;
        span {
            color: #00ffbb;
        }
    }
    .filter-container {
        background-color: #07beb8;
        margin: auto;
        padding: 25px;
        height: 250px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        border-radius: 4px;
    }
    .test {
        .card {
            margin-top: 25px;
            .card-header {
                background-color: #00ffbb;
                text-align: center;
            }
            .card-body {
                display: flex;
                justify-content: space-between;
                .card-title {
                    color: #07beb8;
                }
            }
            .btn {
                background-color: #07beb8;
                border-color: #07beb8;
            }  
        }
    }
}
