// Body
$body-bg: #0078e0;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$strongblue: #004d91;


//Our color scheme
$seagreen: #00ffbb;
$tiffany: #07beb8;
$medium1: #3dccc7;
$medium2: #68d8d6;
$celeste: #c4fff9;
$strongblue: #057eaa;