// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Partials
@import '/partials/_HomeComponent.scss';
@import '/partials/_SearchComponent.scss';
@import '/partials/_CheckoutComponent.scss';
@import '/partials/_PaymantComponent.scss';


@import '/partials/_show.scss';
@import '/partials/_CarouselComponent.scss';
@import '/partials/_statistics.scss';


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    color: #00ffbb;
}
      
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #00ffbb; 
border-radius: 10px;
}
    
::-webkit-scrollbar-thumb {
background: #00ffbb; 
border-radius: 10px;
}
    
::-webkit-scrollbar-thumb:hover {
background: #00ffbb; 
}



