// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

//Partials
@import '/partials/_show.scss';
@import '/partials/_info.scss';
@import '/partials/_sponsorship.scss';
@import '/partials/_purchaseConfirmed.scss';
@import '/partials/_dashboard_home.scss';
@import '/partials/_HomeComponent.scss';
@import '/partials/_navbar.scss';


//--------------------------------

footer{
    padding-top: 50px;
    height: 200px;
}

.section-footer{
    padding-top: 25px;
    color: black;
}

.a-footer{
    color: black;
}

li{
    list-style: none;
}


