.carousel-container {
    padding: 20px;
    .sponsored-doctor-title {
        text-align: center;
        color: #ffff;
    }
    .sponsored-doctor-container {
        .premium-card {
            padding: 10px;
            margin: 20px auto;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(5px);
            transition: transform .5s ease-in; 
            position: relative;
            .premium-name {
                color: #ffff;
                font-size: 1.5rem;
                text-align: center;
                
            }
            .premium-card-body {
                .row{
                    .specializations {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h6{
                            color: #ffff;
                            text-align: center;
                        }
                        .specialization-item {
                            color: #ffff;
                            padding: 5px;
                            background-color: $strongblue;
                            border-radius: 5px;
                            margin: 0 auto;
                        }
                    }
                }
                .sponsored-doctor-info {
                    position: absolute;
                    bottom: 5px;
                    right: 20px;
                    text-decoration: none;
                    i {
                        color: #ffff;
                        font-size: 1.2rem;
                    }
                }
            }
            &:hover {
                transform: scale(1.05);
                transition: .5s ease-out;
            }
        }
    }
}
