.container {
    .checkout-description {
        background: #ffff;
        color: #057eaa;
        padding: 10px;
        border-radius: 4px;
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
        i {
            color: #057eaa;
            font-size: 1.2rem;
        }
    }
    .braintree-sheet {
        border: none;
    }
}