.dash-background {
    position: relative;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    height: 150px;
    border-radius: 5px;
}
.dash-title {
    position: absolute;
    left: 20px;
    bottom: 10px;
    h1 {
        font-weight: 800;
        font-size: 35px;
        color: rgb(255, 255, 255);
    }
}
.card-body {
    i {
        font-size: 30px;
    }
}
.dashboard-links {
    list-style-type: none;
    text-align: center;
}
.message-email {
    color: $strongblue;
    font-size: 16px;
    text-align: left;
    display: block;
}
.delete-message {
    text-align: right;
}
.card-message {
    border: 1px solid $strongblue;
    border-radius: 12px;
}
.message-preview {
    max-height: 5vh;
    overflow-y: hidden;
}
.cards-profile {
    height: 110px;
    margin-top: 20px;
    margin-bottom: 15px;

    .card-body-dash {
        color: $strongblue;
    }
}
.card-body-dash {
    min-height: 0px;
    background-color: white;
    border-radius: 5px;
}

.dashboard-links:hover .on-hover-icon {
    visibility: visible;
}

//-----------------------------------
