.dash-button-container {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(0, 77, 145, 0.9);
    backdrop-filter: blur(5px);
    padding: 20px;
}

.custom-card {
    margin-bottom: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: transform .5s ease-in; 
    color: #ffff;
    &:hover {
        transform: scale(1.05);
        transition: .5s ease-out;
    }
    i {
        color: #ffff;
    }
}

#bluex {
    background-color: $strongblue;
}
#greenx {
    background-color: rgb(57, 177, 57);
}
#yellowx {
    background-color: rgb(216, 184, 0);
}
#redx {
    background-color: rgb(189, 57, 88);
}

#violetx {
    background-color: rgb(208, 45, 208);
}

#orangex {
    background-color: rgb(211, 98, 12);
}

.card-body {
    i {
        font-size: 30px;
    }
}
.dashboard-links {
    list-style-type: none;
    text-align: center;
}
.message-email {
    color: $strongblue;
    font-size: 16px;
    text-align: left;
    display: block;
}
.delete-message {
    text-align: right;
}
.card-message {
    border: 1px solid $strongblue;
    border-radius: 12px;
}
.message-preview {
    max-height: 5vh;
    overflow-y: hidden;
}
.cards-profile {
    height: 110px;
    margin-top: 20px;
    margin-bottom: 15px;

    .card-body-dash {
        color: #ffff;
    }
}
.card-body-dash {
    min-height: 0px;
    background-color: white;
    border-radius: 5px;
}

.dashboard-links:hover .on-hover-icon {
    visibility: visible;
}
