.container {
    .search-title {
        margin: auto;
        padding: 25px;
        color: #ffff;
        font-size: 42px;
        text-align: center;
        span {
            color: #00ffbb;
        }
    }
    .filter-container {
        margin: auto;
        padding: 5px 25px 25px 25px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    select {
        border: none;
        cursor: pointer;
    }
}
//---------



.section{
    padding-bottom: 50px;
}


.bau{
    border: 2px solid black;
}

.mau{
    border: 2px solid red;
}

.main-content{
    

    .box-img-home{
        border-radius: 20px;
        border: 2px #fff solid;
        overflow: hidden;
        margin-bottom: 15px;
        cursor: pointer;
    }
    
    .box-img-home:hover{
        border: 2px rgb(0, 0, 255, 0.5) solid;
    }
    
    .box-img-home-inner{
        border: 2px #fff solid;
        overflow: hidden;
        border-radius: 20px;
    }
    
    .box-img-home-inner>img{
        width: 100%;
    }
    
    #blue-text{
        color: #0072ce;
    }


    .medium-title{
        padding-bottom: 15px;
        
        h3{
            font-weight:bold;
        }

    }

    .medium-paragraph{
        font-size: 16px;
    }
}

//-------Buttons---------//

.wrapper-button{


    a{
        display: block;
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-family: sans-serif;
        text-decoration: none;
        color: #0078e0;
        border: 2px solid #0078e0;
        border-radius: 5px;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all .35s;
      }
      
      a span{
        position: relative;
        z-index: 2;
      }
      
      a:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #0078e0;
        transition: all .35s;
      }
      
      a:hover{
        color: #fff;
      }
      
      a:hover:after{
        width: 100%;
      }

}

.medium-title {
    h3 {
        color: $strongblue;
    }
}


// FOOTER
.footer-custom {
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 25px 0;
    .bi-heart-fill {
        color: red;
        font-size: 1rem;
    }
    .siamounasquadrafortissimi {
        text-decoration: none;
        color: #ffff;
        font-weight: bold;
        &:hover{
            text-decoration: line-through;
            cursor: progress;
        }
    }
}