.container {
    .search-title {
        margin: auto;
        padding: 25px;
        color: #ffff;
        font-size: 42px;
        text-align: center;
        span {
            color: #00ffbb;
        }
    }
    .filter-container {
        margin: auto;
        padding: 5px 25px 25px 25px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    select {
        border: none;
        cursor: pointer;
    }
}

// FOOTER
.footer-custom {
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 25px 0;
    .bi-heart-fill {
        color: red;
        font-size: 1rem;
    }
    .siamounasquadrafortissimi {
        text-decoration: none;
        color: #ffff;
        font-weight: bold;
        &:hover{
            text-decoration: line-through;
            cursor: progress;
        }
    }
}