.container {
    .infobox-container {
        width: 90%;
        border-radius: 8px;
        padding: 10px 15px;
        margin: 0 auto;
        .infobox-text {
            .info-title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    color: $strongblue;
                }
                
            }
            p {

                text-align: center;
                font-size: 1rem;
                a {
                    color: #4aaeff;
                    text-decoration: none;
                }
            }
            .fa-hand-peace {
                color: $strongblue;
                font-size: 40px;
            }
        }
    }

    .developer-container {
        text-align: center;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .developer-card {
            position: relative;
            width: 250px;
            margin: 15px;
            .content {
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.089);
                backdrop-filter: blur(20px);
                // border: 1px solid #ffff;
                border-radius: 8px;
                color: #ffff;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);
                transition: all 0.4s;
                h4 {
                    margin-top: 5px;
                }
                p {
                    font-size: 0.8em;
                    padding: 0.3em 1.4em;
                    text-align: center;
                }
                .social {
                    display: flex;
                    justify-content: center;
                    a {
                        position: relative;
                        padding: 5px;
                        width: 50px;
                        height: 50px;
                        background: #04688c;
                        color: #ffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        margin: 0 1em 1em 1em;
                        border-radius: 50%;
                        transition: all 0.4s;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: #ffff;
                            border-radius: 50%;
                            transform: scale(1.1);
                            z-index: -1;
                            transition: all 0.4s;
                        }
                        &:nth-child(2)::before {
                            background: #ffff;
                        }
                        &:hover::before {
                            transform: translateY(10px) scaleX(0.6) scaleY(0.8);
                            filter: blur(10px);
                        }
                        &:hover:nth-child(1) {
                            color: #ffff;
                            text-shadow: 0 0 30px #B721FF;
                        }
                        &:hover:nth-child(2) {
                            color: #ffff;
                            text-shadow: 0 0 30px #B721FF;
                        }
                    }
                }
            }
            &:hover .content {
                color: #ffff;
            }
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 50%;
                background: #004d91;
                border-radius: 8px;
                z-index: -20;
                transition: all .2s;
            }
            &::before {
                top: 0;
                right: 0;
            }
            &::after {
                bottom: 0;
                left: 0;
                background-color: #0078e0;
            }
            &:hover::before {
                width: 50px;
                height: 50px;
                transform: translate(20px, -20px);
                border-radius: 50%;
            }
            &:hover::after {
                width: 100px;
                height: 100px;
                transform: translate(-20px, 20px);
                border-radius: 50%;
            }
        }
    }
}
