.search-container {
    .search-title {
        margin: auto;
        padding: 25px;
        color: #ffff;
        font-size: 42px;
        text-align: center;
        span {
            color: #00ffbb;
        }
        .custom-line {
            width: 100%;
            height: 4px;
            border-radius: 20px;
        }
    }
    h5 {
        color: white;
        text-align: center;
        span {
            color: #00ffbb;
        }
    }
    .filter-item-container {
        padding: 10px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        .filter-item {
            select {
                width: 200px;
                margin: 10px 20px
            }
        }
    }
    .comeback-button-v2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        font-size: 1.1rem;
        cursor: pointer;
        background-color: rgb(171, 83, 248);
        border: none;
        transition: all 0.4s;
        border-radius: 8px;
        padding: 5px;
        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 7px 0 -2px #68d8d6, 0 15px 0 -4px #39a2db, 0 16px 10px -3px #39a2db;
        }
        h6 {
            color: #ffff;
        }
    }

    .sponsored-doctor-title {
        text-align: center;
        color: #ffff;
    }
    .sponsored-doctor-container {
        .premium-card {
            padding: 10px;
            margin: 20px auto;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(5px);
            transition: transform 0.5s ease-in;
            position: relative;
            .premium-name {
                color: #ffff;
                font-size: 1.5rem;
                text-align: center;
            }
            .premium-card-body {
                .row {
                    .specializations {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        align-items: center;
                        padding: 10px;
                        .specialization-item-v2{
                            color: #ffff;
                            padding: 5px;
                            background-color: $strongblue;
                            border-radius: 5px;
                            margin: 0 10px;
                        }
                    }
                    .details {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        color: #ffff;
                    }
                }
                .sponsored-doctor-info {
                    position: absolute;
                    bottom: 5px;
                    right: 20px;
                    text-decoration: none;
                    i {
                        color: #ffff;
                        font-size: 1.2rem;
                    }
                }
            }
            &:hover {
                transform: scale(1.05);
                transition: 0.5s ease-out;
            }
        }
    }
}