.container {
    // SEZIONE PRINCIPALE - PROFILO DEL MEDICO
    .portfolio {
        padding: 6%;
        text-align: center;
        border-radius: 8px;
        .heading {
            background: #fff;
            padding: 1%;
            display: flex;
            text-align: left;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            box-shadow: 0px 0px 4px 0px #545b62;
            .heading-title {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .heading img {
            width: 10%;
        }
        .bio-info {
            padding: 5%;
            background: #fff;
            box-shadow: 0px 0px 4px 0px #b0b3b7;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .imgcontainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .name {
            font-family: "Charmonman", cursive;
            font-weight: 600;
        }
        .rating {
            color: gold;
            font-size: 20px;
        }
        .bio-image {
            text-align: center;
        }
        .bio-image img {
            width: 200px;
            height: 200px;
            margin: 0;
            padding: 0;
            border-radius: 50%;
        }
        .bio-content {
            text-align: left;
        }

        .bio-content p {
            font-weight: 600;
            font-size: 30px;
        }
    }

    // SEZIONE OPERATIVA
    // Recensioni
    .review-container {
        padding: 0 6%;

        .review-container-inside {
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            background-color: rgb(255, 255, 255);
            backdrop-filter: blur(5px);
            padding: 20px;
            .no-auto-review {
                text-align: center;
            }
            .box_review {
                .box-review-headline {
                    background-color: $strongblue;
                    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
                    color: #ffff;
                    text-align: center;
                    padding: 10px;
                    border-radius: 8px;
                    h4 {
                        margin-bottom: 0;
                    }
                }
                .form-group-container {
                    form {
                        .form-group {
                            margin: 10px 0;
                            display: flex;
                            align-items: center;
                            .usernameReviewer {
                                margin-bottom: 0;
                            }
                            .username-input {
                                width: 80%;
                                margin: 0 auto;
                            }
                            .ratingReviewer {
                                margin-bottom: 0;
                                margin-right: 30px;
                            }
                            .rating {
                                color: gold;
                                font-size: 20px;
                            }
                        }
                        .review-txt {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            textarea {
                                width: 100%;
                                border: 1px solid lightgray;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
    .bdoctor-button {
        background-color: #05a95c;
        border: none;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .minibi {
        color: rgb(213, 64, 111);
    }
    .review-list-container {
        margin-top: 20px;
        padding: 2% 6%;
        .card-review {
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(5px);
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 20px;
            text-align: center;
            color: #ffff;
            transition: 0.5s ease-in;
            &:hover {
                transform: scale(1.05);
                transition: 0.5s ease-out;
            }
        }
        i {
            color: goldenrod;
        }
    }
}
