.container {
    .sponsorship-title {
        text-align: center;
        color: black;
    }
    .sponsorship-list-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 8px;
        .sponsorship-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 200px;
            height: 300px;
            color: white;
            margin: 20px 30px;
            background-color: #21D4FD;
            padding: 5px;
            border-radius: 8px;
            background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
         
            transition: all .4s;
            &:hover {
                transform: translateY(-10px);
            }
            h1 {
                text-align: center;
                font-size: 2rem;
                transition: all .2s;
            }
            &:hover h1 {
                font-size: 2.3rem;
            }
            i {
                font-size: 2rem;
            }
            p {
                font-size: 0.8rem;
                text-align: center;
            }

            .sponsorship-button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 130px;
                height: 40px;
                background-color: #ffff;
                text-decoration: none;
                outline: none;
                cursor: pointer;
                position: absolute;
                bottom: 10px;
                font-weight: 700;
                font-size: 1.1rem;
                border: none;
                border-radius: 8px;
                h5 {
                    color: #057eaa;
                    margin-bottom: 0; 
                    i {
                        color: #057eaa;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}