.container {
    .sponsorship-title {
        text-align: center;
        h2 {
            color: $strongblue;
            font-weight: bold;
        }
    }
    .sponsorship-list-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 8px;
        .sponsorship-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 200px;
            height: 300px;
            color: white;
            margin: 20px 30px;
            background-color: #21d4fd;
            padding: 5px;
            border-radius: 8px;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
            &:nth-child(1) {
                background-image: linear-gradient(19deg, #b16404 0%, #a97409 100%);
            }
            &:nth-child(2) {
                background-image: linear-gradient(19deg, #7e8080 0%, #bcbcbc 100%);
            }
            &:nth-child(3) {
                background-image: linear-gradient(19deg, gold 0%, rgb(198, 137, 6) 100%);
            }

            transition: all 0.4s;
            &:hover {
                transform: translateY(-10px);
            }
            h1 {
                text-align: center;
                font-size: 2rem;
                transition: all 0.2s;
                
            }
            &:hover h1 {
                font-size: 2.3rem;
            }
            i {
                font-size: 2rem;
                margin-bottom: 15px;
            }
            p {
                font-size: 0.8rem;
                text-align: center;
            }

            .sponsorship-button {
                background-color: #05a95c;
                box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 130px;
                height: 40px;
                text-decoration: none;
                outline: none;
                cursor: pointer;
                position: absolute;
                bottom: 10px;
                font-weight: 700;
                font-size: 1.1rem;
                border: none;
                border-radius: 8px;
                h5 {
                    color: #ffff;
                    margin-bottom: 0;
                    i {
                        color: #ffff;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
